body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #190c0c;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333333;
}

.sentence-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sentence {
  padding: 15px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
